# Table of Content:
<b>=============================
* [1. What is Python?](#1)
    * [1.1 History:](#1.1)
    * [1.2 Present:](#1.2)
    * [1.3 Future:](#1.3)
    * [1.4 Strengths of python:](#1.4)
    * [1.5 Weaknesses of python:](#1.5)
    * [1.6 Suitablity of python:](#1.6)
    * [1.7 Structure of python:](#1.7)
    * [1.8 Sample code in python:](#1.8)
* [2. DataTypes in python](#2)
    * [2.1 Strings](#2.1)
    * [2.2 Numeric Data Types](#2.2)
        * [2.2.1 Int Datatype](#int)
        * [2.2.2 Float Datatype](#float)
        * [2.2.3 Complex Datatype](#complex)
    * [2.3 Sequence Data Types](#2.3)
        * [2.3.1 List](#2.3.1)
        * [2.3.2 Tupple](#2.3.2)
    * [2.4 Dictionary](#2.4)
    * [2.5 Set](#2.5)
    * [2.6 Boolean](#2.6)
* [3. Comparison Operators](#3)
* [4. if-else Statement](#4)
    * [4.1 elif](#4.1)
* [5. Loops](#5)
    * [5.1 For Loop](#5.1)
    * [5.2 While Loop](#5.2)
* [6. Functions](#6)
    * [6.1 Built-in Functions](#6.1)
    * [6.2 User Define Functions](#6.2)
* [7. Lambda Functions](#7)
    * [7.1 Map()](#7.1)
    * [7.2 Filter()](#7.2)
    * [7.3 Reduce()](#7.3)
* [8. File I/O](#8)
    * [8.1 From Buffer](#8.1)
    * [8.2 From Text File](#8.2)
    * [8.3 Postioning](#8.3)
* [9. Introduction to Pandas](#9)
    * [9.1 History](#9.1)
    * [9.2 Features](#9.1)
    * [9.3 Purpose](#9.3)
* [10. Series in Pandas](#10)
    * [10.1  Defination](#10.1)
    * [10.2  Creating series from dict](#10.2)
    * [10.3  Creating series from ndarray](#10.3)
    * [10.4  Creating series from scaler values](#10.4)
    * [10.5  Accessing Series](#10.5)
    * [10.6  Performing operations on series](#10.6)
    * [10.7  Vectorized operations on series](#10.7)
    * [10.8  Naming of series](#10.8)
* [11. DataFrame in Pandas](#11)
    * [11.1 Defination ](#11.1)
    * [11.2 Creating DataFrame from List](#11.2)
    * [11.3 From dict of series](#11.3)
    * [11.4 From dict of ndarrays / lists](#11.4)
    * [11.5 From a list of dicts](#11.5)
    * [11.6 From a dict of tuples ](#11.6)
    * [11.7 Column selection, addition, deletion](#11.7)
    * [11.8 Indexing / Selection](#11.8)
    * [11.9 Data alignment and arithmetic](#11.9)
    * [11.10 Boolean Operators ](#11.10)
    * [11.11 Transposing](#11.11)
    
* [12. Viewing Data in Pandas](#12)
    * [12.1 Head of Data](#12.1)
    * [12.2 tail of Data](#12.2)
    * [12.3 Display Index](#12.3)
    * [12.4 Display Column](#12.4)
    * [12.5 Printing Values](#12.5)
    * [12.6 Sorting by axis](#12.6)
    * [12.7 Sorting by values](#12.7)
    * [12.8 Describing DataFrame](#12.8)
    * [12.9 Selecting a Column](#12.9)
    * [12.10 Slicing](#12.10)

# 1. What is Python? <a id="1"></a>
<b>===============================

**Python is a well-known programming language widely adopted by
<font color= "red"> <i>Programmers</i> </font>,
<font color= "red"> <i>Data Scientists</i> </font>,
<font color= "red"> <i>ML(Machine Learning)</i> </font> and
<font color= "red"> <i>AI(Artificial Intelligence) Engineers</i> </font>,
these days. It is an interpreted high level language in which we can implement the concepts of object oriented programing as well. It is easy to learn and easy to implement language. Python supports modularity of the code which increase reusability of the code. Python has a large active community which is way there are thousands of <font color= "red"> <i>open source libraries</i> </font> for python are avaible on the internet to facilitate the coders. As there is no compilation in python so debugging of code is comparitively easy here.**

## 1.1 History: <a id="1.1"></a>
<b>==============

**The project python was found in 1980s and in around 1989 <font color= "red"> <i>Guido Van Rossum</i> </font> started implementing it. Later on in 1991 published the very first code with version (0.9.0). With the passage of time a lot of version was released but the revolutionary one was <font color= "red"> <i>python 3.0</i> </font> (released on December 3, 2008). This was the moment when python start getting fame and adoption in the world of computer science**

## 1.2 Present: <a id="1.2"></a>
<b>=================

**At this time, the latest version of <a href="https://www.python.org/downloads/">python</a> is (3.9.2). Currently python is widely being used in:**

- <font color= "red"> <i><b>Machine Learning</b></i> </font>
- <font color= "red"> <i><b>Deep Learning</b></i> </font>
- <font color= "red"> <i><b>Artificial Inteligence</b></i> </font>
- <font color= "red"> <i><b>Natural Language Processing</b></i> </font>
- <font color= "red"> <i><b>Web Development</b></i> </font>
- <font color= "red"> <i><b>Data Analysis and Processing</b></i> </font>
- <font color= "red"> <i><b>Big Data</b></i> </font>
- <font color= "red"> <i><b>Cloud Computing</b></i> </font>
- <font color= "red"> <i><b>Game Development</b></i> </font>

**So we can say that among all programing languages python has the largest scope of implementation**

## 1.3 Future: <a class="anchor" id="1.3"></a>
<b>===============
    
**As we know the that future of Computer Science is strongly couppled with AI and ML and python has a great significance for both thsee domains so we can deduct that the <font color= "red"> <b> <i>Python is the language of future </b></i> </font>. If we observe the <a href=https://cdn.statcdn.com/Infographic/images/normal/21017.jpeg>Statistics</a> of based on google searches we'll find out that the python is at the top and its popularity is increasing at the rate of 4.1% every year.**

## 1.4 Strengths of python: <a id="1.4"></a>
<b>================================
- <font color= "red"> <i><b>Simplicity:</b></i> </font> **The syntax of python is simple and it is quite easy for developers to switch on it.**
- <font color= "red"> <i><b>Supports Multiple Programming Paradigms:</b></i> </font> **It has full support of object oriented and structured programing.**
- <font color= "red"> <i><b>Liberaries:</b></i> </font> **A large no of robust standard libararies are avaible for python.**
- <font color= "red"> <i><b>Open source frameworks and tools :</b></i> </font> **we have different tools avaiable for different needs. e.g. Django, Flask and etc.**

## 1.5 Weaknesses of python: <a id="1.5"></a>
<b>==================================
- <font color= "red"> <i><b>Speed:</b></i> </font> **As python is an interpreter so it is compartively slower than C and C++ which use compilers as translators.**
- <font color= "red"> <i><b>Inter version incompatibility:</b></i> </font> **Devlepers might face problem if some of the module are written in python 2.0 and others are in python 3.0**
- <font color= "red"> <i><b>Under developed database access layer:</b></i> </font> **Database access layer of python is not as good as JDBC(Java Database Connectivity) and ODBC(Open Database Connectivity). It is underdeveloped and not often used at enterprise level**
- <font color= "red"> <i><b>Not native to mobile :</b></i> </font> **When it comes to mobiles python is not a good choice for development as it is not native to mobile environment. Neither Android nor iOS supports python as an official programing language for mobile development.**

## 1.6 Suitablity of python: <a id="1.6"></a>
<b>==================================


**Talking about the current era the scale of suitablity of python is huge. you can use it for**
- <font color= "red"> <i><b>Web Development</b></i> </font>
- <font color= "red"> <i><b>Game Development</b></i> </font>
- <font color= "red"> <i><b>Machine Learning and Artificial Intelligence</b></i> </font>
- <font color= "red"> <i><b>Data Science and Data Visualization</b></i> </font>
- <font color= "red"> <i><b>Desktop GUI</b></i> </font>
- <font color= "red"> <i><b>Web Scraping Applications</b></i> </font>
- <font color= "red"> <i><b>Business Applications</b></i> </font>
- <font color= "red"> <i><b>Audio and Video Applications</b></i> </font>
- <font color= "red"> <i><b>CAD Applications</b></i> </font>
- <font color= "red"> <i><b>Embedded Applications</b></i> </font>


## 1.7 Structure of python: <a id="1.7"></a>
<b>===================================
    
**Python is an interpreted language and the structure of python code is simpler than many other programming languages. It uses the concepts of indentation which makes the code written in python highly maitainable and readable**

## 1.8 Sample code in python: <a id="1.8"></a>
<b>====================================

In [787]:
#here's the code check even and odd in python
a=1
print("Output:")
if(a%2):
    print("The number is odd")
else:
    print("The number is even")

Output:
The number is odd



# 2. DataTypes in Python: <a id="2"></a>
<b>=====================================

**Unlike other programming languages in python we do not mention the datatypes before declaring a variable it rather is defined when we assign value to it on the basis of the value which is being assigned. It could be a string, int, float, complex, boolean, tuple and etc.**

## 2.1 Strings: <a id="2.1"></a>
<b>===============

### Defination:
<b>============
    
**In python strings are the datatypes which contains <font color= "red"> <i><b>text</b></i> </font>  elclosed by either ' '(single qoutes) or " "(double quotes).**

### Purpose:
<b>=========

**The purpose of string is simply to store text type data. A string could consist of single charecter like "a" and many charecters like "apple". Besides a string might be without spaces like "mohsin" and it might contains blank spaces as well like "mohsin is a student"**
    
### Importance:
<b>=============

**String is an important datatype because it allows us to store text in simplest possible manner. If we don't have strings dealing with textual data would be quite tricky.**
    
### Application:
<b>=============
    
**we use strings when we need to:**
* <font color= "red"> <i><b>Send textual data to program </b></i> </font>
* <font color= "red"> <i><b>Recive textual data from program and display to user.</b></i> </font>
    
### Strength:
<b>=============
    
**In Python strings are actually arrays of bytes you can access a particular byte using [index].**
    
### Weakness:
<b>=============
    
**In python if we have a sigle charecter we have to make a string for that like charecter="a" as python do not have any datatype dealing with single charecters.**

### Example 1 Defining strings: 
<b>==============================
    
#### Code:

In [788]:
name="Mohsin"
print("Output:")
print(name)

Output:
Mohsin

### Example 2 Concatinating strings:
<b>====================================
    
#### Code:

In [789]:
word1="hello"
word2="world"
sentence= word1+" "+word2
print("Output:")
print(sentence)

Output:
hello world

### Example 3 Spliting the strings:
<b>==================================
#### Code:

In [790]:
sentence= "Pakistan is my homeland"
print("Output:")
print(sentence.split(" ")) 
#splitting the whole sentence into substrings after every blank space

Output:
['Pakistan', 'is', 'my', 'homeland']

### Example 4 Slicing strings:
<b>===============================
    
#### Code:

In [791]:
sentence= "Pakistan Zindabad"
print("Output:")
print(sentence[0:3])

Output:
Pak

### Example 5 Insert numbers into strings:
<b>==========================================
    
####Code:

In [792]:
amount=500
print("Output:")
print(f"the amount in your bank is {amount}")

Output:
the amount in your bank is 500

### Example 6 Replacing the strings:
<b>====================================
    
####Code:

In [793]:
sentence= "hello world"
print("Output:")
print(sentence.replace("h","H"))

Output:
Hello world


## 2.2 Numeric Data Types: <a id="2.2"></a>
<b>================================


### Defination:
<b>============
    
<b>In Python we have 3 types of numeric datatypes 
- <font color= "red"> <i><b>int:</b></i> </font> deals with integers (negative and positive)
- <font color= "red"> <i><b>float:</b></i> </font> deals with floating numbers (negative and positive) 
- <font color= "red"> <i><b>complex:</b></i> </font> deals with imagnary/complex numbers</b>
<b>

### Purpose:
<b>==========

**Purpose of having 3 different numeric datatypes in python we need to deal with differnt natures of numeric data and it is not possible for us to deal with all those data using a single type**
    
### Importance:
<b>============
    
**These datatypes are important as numbers plays a big role in life and while developing most of solutions for a problem related to real life numbers are involved in it as foundational blocks.**
    
### Application:
<b>============
    
**We use numeric datatypes when we are dealing with calculations and it makes scope of these datatypes quite huge as calculations are involved everywhere.**

    
### Strength:
<b>============
    
<b> Here are few plus points about Numeric datatypes in python:
* In int type we can have (positive and negative) numbers of ulimited length.  
* We can deal with scientfic notation numbers using float type.
* We have a separate data type "complex" for dealing with imaginary numbers.   
* These numeric datatypes are inter convertable, means that you can change int to float and vice versa.</b>    
    
    
### Weakness:
<b>============
    
**As python is dynamically-typed language the others could get confused when reading your code.**
    
    

### Example 1: Class of int type <a id="int"></a>
<b>===================================

In [794]:
num1= 5
num2=46456460404
num3=-155464564
print("Output:")
print("datatype of num1 =",type(num1))
print("datatype of num2 =",type(num2))
print("datatype of num3 =",type(num3))

Output:
datatype of num1 = <class 'int'>
datatype of num2 = <class 'int'>
datatype of num3 = <class 'int'>

### Example 2:   Prefixing Integers
<b>===================================
    
<b> we can represent integers in python in the form of binary, octal and hexa decimal by applying prefexes.
- <font color= "red"> <i><b>0b for binary</b></i> </font>
- <font color= "red"> <i><b>0o for octal </b></i> </font>
- <font color= "red"> <i><b>0x for hexa decimal</b></i> </font>    
 </b>

In [795]:
#decimal number 
decimal_number=5 
#binnary number 
binary_number=0b111001
#octal number
octal_number= 0o57
#hexadecimal number
hex_number=0x10
print("Output:")
print("Decimal number= ", decimal_number)
print("0b111001 in decimal = ", binary_number)
print("0o57 in decimal = ", octal_number)
print("0x10 in decimal = ", hex_number)

Output:
Decimal number=  5
0b111001 in decimal =  57
0o57 in decimal =  47
0x10 in decimal =  16

### Example 3: Class of float type <a id="float"></a>
<b>===================================

In [796]:
float1=5.04
float2=-455.464
float3= 5/7
float4= float('-infinity')#float can store -ve and positive infinity
float5= float('nan') #it also stores nan=not any number format
float6= float(3e-5)#it also stores exponential numbers.

print("Output:")
print("datatype of float1 =",type(float1))
print("datatype of float2 =",type(float2))
print("datatype of float3 =",type(float3))
print("datatype of float4 =",type(float4))
print("datatype of float5 =",type(float5))
print("datatype of float6 =",type(float6))

Output:
datatype of float1 = <class 'float'>
datatype of float2 = <class 'float'>
datatype of float3 = <class 'float'>
datatype of float4 = <class 'float'>
datatype of float5 = <class 'float'>
datatype of float6 = <class 'float'>

### Example 4: Complex Numbers <a id="complex"></a>
<b>=================================

In [797]:
#in complex datatype we use j to represent imagnary part

complex_no1= 5+2j
complex_no2= 3j
complex_no3= 5-2j
print("Output:")
print("type of complex_no1=",type(complex_no1))
print("type of complex_no2=",type(complex_no2))
print("type of complex_no3=",type(complex_no3))

Output:
type of complex_no1= <class 'complex'>
type of complex_no2= <class 'complex'>
type of complex_no3= <class 'complex'>

### Example 5: Type conversions
<b>=================================

In [798]:
int_num = 10   # int
float_num = 3.14  # float
complex_num = 5j   # complex

#convert from int to float:
converted_float = float(int_num)

#convert from float to int:
converted_int = int(float_num)

#convert from int to complex:
converted_complex = complex(complex_num)
print("Output:")
print(converted_float,type(converted_float))
print(converted_int,type(converted_int))
print(converted_complex,type(converted_complex))

Output:
10.0 <class 'float'>
3 <class 'int'>
5j <class 'complex'>


## 2.3 Sequence Data Types: <a id="2.3"></a>
<b>===================================

### Defination:
<b>=============
    
<b>Sequence datatypes allows us to efficently store multiple values in an organized manner. In python we have these sequence datatypes. 
- <font color= "red"> <i><b>List</b></i> </font> 
- <font color= "red"> <i><b>Tupple</b></i> </font> 
- <font color= "red"> <i><b>Range</b></i> </font>
- <font color= "red"> <i><b>Strings (discuessed earlier)</b></i> <a href="#2.1">Go to Strings</a></font></b>
    

### 2.2.1 List: 
<b>============= 
    
#### Defination:
<b>============= <a id="2.3.1"></a>
    
<b>In python List is a datatype in which we can store multiple items. In list we have multiple elements seprated by commas. List is one of the widely used datatype of in python when we are dealing with collections.

#### Strength:
<b>=============
    
- The elements of lists are ordered
- The elements of lists can be duplicate
- The elements of lists are changeable
- It use contigous memory block so the indexing is fast here 
    
#### Suitability:
<b>=============
    
- You need an mutable collection you prefer to use a list
    
### Example1: Decleration and Indexing
<b>=======================================
    
Here you can see how to decleare a list and how indexing works in a list.

In [799]:
people= ["teacher", "student", "doctor", "engineer"]
print("Output:")
print(type(people))
print(people)
print("index[0]",people[0])
print("index[1]",people[1])
print("index[2]",people[2])
print("index[3]",people[3])

Output:
<class 'list'>
['teacher', 'student', 'doctor', 'engineer']
index[0] teacher
index[1] student
index[2] doctor
index[3] engineer

### Example2: Mutablity
<b>=====================
    
**here you will see that how can we make changes in a list**

In [800]:
people= ["teacher", "student", "doctor", "engineer"]
print("Output:")
print("List before changes:",people)
print("index[0]",people[0])
print("index[1]",people[1])
print("index[2]",people[2])
print("index[3]",people[3])
#here we are going to make chagnes in list
people[2]= "lawyer"
people[3]= "painter"
print("List after changes:",people)
print("index[0]",people[0])
print("index[1]",people[1])
print("index[2]",people[2])
print("index[3]",people[3])

Output:
List before changes: ['teacher', 'student', 'doctor', 'engineer']
index[0] teacher
index[1] student
index[2] doctor
index[3] engineer
List after changes: ['teacher', 'student', 'lawyer', 'painter']
index[0] teacher
index[1] student
index[2] lawyer
index[3] painter

### Example3: Finding length of List
<b>==================================

In [801]:
people= ["teacher", "student", "doctor", "engineer"]
print("Output:")
print("Lenght of list of people=", len(people))

Output:
Lenght of list of people= 4

### Example4: Concatination in List
<b>==================================

In [802]:
fruits=["apple", "grapes", "oranges"]
flowers=["rose", "lilly","sunflower"]
concatinated_list= fruits+flowers
print("Output:")
print("list of after concatination is ", concatinated_list)

Output:
list of after concatination is  ['apple', 'grapes', 'oranges', 'rose', 'lilly', 'sunflower']

### Example5: Slicing in List
<b>=============================

In [803]:
people= ["teacher", "student", "doctor", "engineer"]
#slicing from left side
print(people[1:])
print(people[2:])
print(people[3:])
print(people[4:])

['student', 'doctor', 'engineer']
['doctor', 'engineer']
['engineer']
[]

### Example6: Reversing a list
<b>===============================

In [804]:
people= ["teacher", "student", "doctor", "engineer"]
fruits=["apple", "grapes", "oranges"]
flowers=["rose", "lilly","sunflower"]
print("Output:")
print("Lists befor reversing are")
print(people)
print(fruits)
print(flowers)

people.reverse()
fruits.reverse()
flowers.reverse()

print("\nLists after reversing are:")
print(people)
print(fruits)
print(flowers)

Output:
Lists befor reversing are
['teacher', 'student', 'doctor', 'engineer']
['apple', 'grapes', 'oranges']
['rose', 'lilly', 'sunflower']

Lists after reversing are:
['engineer', 'doctor', 'student', 'teacher']
['oranges', 'grapes', 'apple']
['sunflower', 'lilly', 'rose']

### 2.3.2 Tuple: <a id="2.3.2"></a>
<b>============
#### Defination:
<b>===========
    
<b> Tuple in python is a data type which is used to store collections of data. Unlike list, it is not enclosed by [ ] by square brackets but by () parenthesis.

#### Strength:
<b>=========
    
- The elements of lists are ordered
- The elements of lists can be duplicate
- The stored elements are hetrogenous.

#### Weakness:
<b>=========
    
- The stored elements cannot be changed as tuple is immutable.
    
#### Suitability:
<b>==========
    
- Tuples are by convention used when we need to store hetrogenous elements.
    
### Example1: Decleration of tuple and Accessing 
<b>==================================================
    
Let's see how can we declear a tuple

In [805]:
food= ("biryani", "qorma","pulao")
print("Output:")
print(food)
print(type(food))
print("index[0]=",food[0])
print("index[1]=",food[1])
print("index[2]=",food[2])

#immutable this is not allowed in tuple (you can uncomment and check)
#food[0]="nihari"

Output:
('biryani', 'qorma', 'pulao')
<class 'tuple'>
index[0]= biryani
index[1]= qorma
index[2]= pulao

### Example2: Finding length of a tuple
<b>=======================================

In [806]:
food= ("biryani", "qorma","pulao")
print("Length=",len(food))

Length= 3

### Example3: Converting a list to tuple

In [807]:
list1= ["a","b","c"]
print("Output:")
print("type of list1",type(list1))
tuple1= tuple(list1)
print("type of tuple 1:", type(tuple1))

Output:
type of list1 <class 'list'>
type of tuple 1: <class 'tuple'>

### Example4: Concatinating tuples
<b>=======================================

In [808]:
food= ("biryani", "qorma","pulao")
fast_food=("burger","shawarma","pizza")
concatinating_tuple=food+fast_food
print("Output:")
print(concatinating_tuple)

Output:
('biryani', 'qorma', 'pulao', 'burger', 'shawarma', 'pizza')

### Example5: Slicing in the tuple
<b>=======================================

In [809]:
food= ("biryani", "qorma","pulao")
print("Output:")
print(food[1:])
print(food[2:])
print(food[3:])

Output:
('qorma', 'pulao')
('pulao',)
()


## 2.4 Dictionary: <a id="2.4"></a>
<b>===================


### Defination:
<b>=============
    
In python dictionary is an ordered set of key value pair <font color= "red"> <i><b> (As of python 3.7 dictionary is ordered) </b></i> </font>. It is similer to a hash table where each key hold a specific value:
- <font color= "red"> <i><b>Key:</b></i> </font> It could be any primitive datatype in python.
- <font color= "red"> <i><b>Value:</b></i> </font> It is an aribitrary python object.
    

### Strength: 
<b>=============
    
- Using python dictionaries we can store data in more descriptive from.
- We can use it as a hash table in python.

### Weaknesses:
<b>=============
    
- Dictionaries used to be unordered (but as of python 3.7 this weakness is removed)
- Compared to other data structures dictionary consumes more storage.
    
### Suitability:
<b>=============
    
- Are used when we have a data in which we need to map keys against some data
- Is used in graphs for making adjustcency lists.
    
### Example1: Initializing a dictionary
<b>====================================
    
Here you can see how to decleare a dictionary and extracting values using indexs.

In [810]:
students={1:"mohsin",
          2: "gama",
          3:"ghazi",
          4:"nomi"}
print("Type:",type(students))
print(students)
#here indexing begins with 1
print(students[1])
print(students[2])
print(students[3])
print(students[4])

Type: <class 'dict'>
{1: 'mohsin', 2: 'gama', 3: 'ghazi', 4: 'nomi'}
mohsin
gama
ghazi
nomi

### Example2: Deleting a key-value pair in dictionary
<b>=====================================================

In [811]:
students={1:"mohsin",
          2: "gama",
          3:"ghazi",
          4:"nomi"}
print("Before Deletion:\n",students)
del(students[3])
print("After Deletion:\n",students)

Before Deletion:
 {1: 'mohsin', 2: 'gama', 3: 'ghazi', 4: 'nomi'}
After Deletion:
 {1: 'mohsin', 2: 'gama', 4: 'nomi'}

### Example3: Poping item from a Dictionary 
<b>============================================

In [812]:
students={1:"mohsin",
          2: "gama",
          3:"ghazi",
          4:"nomi"}
print("Output:")
print("Before Deletion:\n",students)
result= students.pop(4)
#here value 4 is poped out and stored in the variable result
print("After Deletion:\n",students)
print("\nresult=",result)

Output:
Before Deletion:
 {1: 'mohsin', 2: 'gama', 3: 'ghazi', 4: 'nomi'}
After Deletion:
 {1: 'mohsin', 2: 'gama', 3: 'ghazi'}

result= nomi

### Example4: Clearing all items in the dictionary using clear()
<b>================================================================

In [813]:
students={1:"mohsin",
          2: "gama",
          3:"ghazi",
          4:"nomi"}
print("Output:")
print("Before Clearing:\n",students)
students.clear()
#we'll have a empty dictionary now
print("After Clearing:\n",students)

Output:
Before Clearing:
 {1: 'mohsin', 2: 'gama', 3: 'ghazi', 4: 'nomi'}
After Clearing:
 {}


## 2.5 Set: <a id="2.5"></a>
<b>=============


### Defination:
<b>=============
    
In python we use sets for representing <font color= "red"> <i><b> collection of unordered and unindexed data </b></i> </font>. Every element in the set is unique which means it cannot contain duplicate items. Set itself is mutable but the stored elements are immutable. Values in set are seprated by comma. 
    
### Strength: 
<b>=============
    
- Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections
 
### Weakness: 
<b>=============
    
- Its not being ordred and indexed make accessibility less efficient here.
 
    
### Suitability:
<b>=============
- Sets are suitable to use when we are dealing with membership testing and eliminating duplicate entries. 
    
### Example1: Initializing a set
<b>==============================

In [814]:
stationary_set= {"pen","pencil","scale"}
print("Output:")
print(stationary_set)
print(type(stationary_set))

Output:
{'scale', 'pencil', 'pen'}
<class 'set'>

### Example2: Adding value in the set
<b>=====================================

In [815]:
stationary_set= {"pen","pencil","scale"}
print("Output:")
print("Before adding value")
print(stationary_set)
stationary_set.add("eraser")
print("After adding value")
print(stationary_set)

Output:
Before adding value
{'scale', 'pencil', 'pen'}
After adding value
{'scale', 'pencil', 'eraser', 'pen'}

### Example3: Removing values from the set
<b>=============================================

In [816]:
stationary_set= {"pen","pencil","scale"}
print("Output:")
print("Before removing value")
print(stationary_set)
stationary_set.discard("pen")
print("After after value")
print(stationary_set)

Output:
Before removing value
{'scale', 'pencil', 'pen'}
After after value
{'scale', 'pencil'}

### Example4: Union of sets
<b>==========================

In [817]:
stationary_set_mohsin = {"pen","pencil","scale"}
stationary_set_tiyab = {"eraser","pencil","marker"}
union_set= stationary_set_mohsin|stationary_set_tiyab
print("Output:")
print(union_set)

Output:
{'scale', 'pencil', 'marker', 'eraser', 'pen'}

### Example5: Intersection of sets
<b>================================

In [818]:
stationary_set_mohsin = {"pen","pencil","scale"}
stationary_set_tiyab = {"eraser","pencil","marker"}
intersection_set= stationary_set_mohsin & stationary_set_tiyab
print("Output:")
print(intersection_set)

Output:
{'pencil'}


## 2.6 Boolean: <a id="2.6"></a>
<b>================


### Defination:
<b>=============
    
<b>In python boolean is a datatype which contains 2 possible values:
- <font color= "red"> <i><b>True</b></i> </font> it will not accept "true" as bool.
- <font color= "red"> <i><b>False</b></i> </font> it will not accept "false" as bool.
    
this datatype belongs to bool class of python. bool is not the keyword in the python but it is advised not to use it for naming variables.
### Strength: 
<b>===========
    
- It is quite useful for storing results of logical expressions.
    
### Suitability:
<b>==============
    
- It is useful when we are dealing with logical expressions and decesion making.
    
### Example1: Initializing boolean variable
<b>=========================================

In [819]:
boolean_variable= True
print(type(boolean_variable))

<class 'bool'>

### Example2: Storing result of logical expressions:
<b>=====================================================

In [820]:
number1= 10
number2= 20
result= number1>number2
print("Output:")
# 10>20 so it should return False
print("Result=", result)
result= number2>number1
# 20>10 so it should return True
print("Result=", result)

Output:
Result= False
Result= True

### Example3: Boolean Operators 
<b>================================

In [821]:
#and operator
boolean_variable1= True
boolean_variable2= False
result= boolean_variable1 and boolean_variable2
print("Output:")
print("Result= ", result)

#or operator
boolean_variable1= True
boolean_variable2= False
result= boolean_variable1 or boolean_variable2
print("Result= ", result)

#and operator
boolean_variable1= True
result= not boolean_variable1
print("Result= ", result)

Output:
Result=  False
Result=  True
Result=  False


## 3 Comparison Operators: <a id="3"></a>
<b>==================================


### Defination:
<b>=============
    
<b> As the name suggest comparison operators are used to compare to operands. In python we have followin comparison operators
- <font color= "red"> <i><b>Equal </b></i> </font> (==)
- <font color= "red"> <i><b>Not Equal  </b></i> </font> (!=)
- <font color= "red"> <i><b>Greater than </b></i> </font> (<)
- <font color= "red"> <i><b>Less than  </b></i> </font> (>)
- <font color= "red"> <i><b>Greater than or equal </b></i> </font> (<=)
- <font color= "red"> <i><b>Less than or equal  </b></i> </font> (>=)

when we perform these operators we get a boolean type varible.

### Example1: Perfroming Comparison Operators:
<b>==================================================

In [822]:
fruit1="Apples"
fruit2="Grapes"
## equal to operator
result=fruit1==fruit2
print("Output:")
print("Result=",result)

## not equal to operator
result=fruit1!=fruit2
print("Result=",result)

# greater than
number1= 10
number2= 20
result= number1>number2
print("Result=",result)

# Less than
number1= 10
number2= 20
result= number1<number2
print("Result=",result)

#Less than or equal 
number1= 10
number2= 10
result= number1>=number2
print("Result=",result)

# Greater than or equal
number1= 10
number2= 10
result= number1<=number2
print("Result=",result)

Output:
Result= False
Result= True
Result= False
Result= True
Result= True
Result= True

## 4 if-else : <a id="4"></a>
<b>============
    
Like in other programming lanuages if-else statemens are used for <font color= "red"> <i><b>conditional transfer of control in the program  </b></i> </font> . if statement evaluates a logical expression and decide wether to transfered control to if-block or rest of the program wheares, in case of else the control is either transfered to if block or else block.
    
### Strength: 
<b>===========
    
- Helps in redirecting control during the execution of program.
    
### Weakness:
<b>==============
    
- Intrupt the normal flow of execution of the program.
    
### Suitability:
<b>==============
    
- if-else is suitable to use when we are dealing with multi-outcome problems.
<br>
    
   
### Example1: Classifying Odd and Even number:
<b>==================================================

In [823]:
num=10
print("Output:")
if(num%2):
    print("number is odd");
else:
    print("number is even")

Output:
number is even

### Example2: Finding Largest Number:
<b>======================================

In [824]:
num1= 10
num2= 20
print("Output:")
if(num1>num2):
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num2} is greater than {num1}")

Output:
20 is greater than 10

### 4.1 elif : <a id="4.1"></a>
<b>=======
    
elif is used when we want control to be transfered to more than 2 blocks. We can use multiple elif blocks and if condtion of certain blocks is fulfiled it is executed. If no condtion is fulfiled the control is transfered to else block.

### Example3: Finding Grade of Student :
<b>================================================

In [825]:
marks=50
print("Output:")
if(marks>=90):
    print("your grade is A")
elif(marks>=70 and marks<90):
    print("your grade is B")
elif(marks>=50 and marks<70):
    print("your grade is C")
else:
    print("your grade is F")

Output:
your grade is C

### Example4: Ternary Operators (Short hand if-else) :
<b>=====================================================

In [826]:
num1 = 20
num2 = 30
print("Output:")
print(f"{num1} is greater") if num1 > num2 else print(f"{num2} is greater")

Output:
30 is greater

## 5  Loops: <a id="5"></a>
<b>============
    
Loops play an important role in every programming language. We use loop when we need to perform <font color= "red"> <i><b> repitative tasks </b></i> </font>. In python we have two types of loops.
    
- <font color= "red"> <i><b>For Loop: </b></i> </font>
- <font color= "red"> <i><b>While Loop: </b></i> </font>
    
### Strength: 
<b>===========
    
- Our program do not have repitative line of codes when we use loops.
    
### Weakness:
<b>==============
    
- Although loops makes our work easy but they might increase the complexity of the program. 
    
### Suitability:
<b>==============
    
- When we are dealing with a problem in which we need to perform repitative tasks.
<br>
    
## 5.1  For Loop: <a id="5.1"></a>
<b>=================
    
Another name of this loop is counter loop. We use for loop to iterating through a sequence. It also is used when we need to iterate a code block for the <font color= "red"> <i><b> fixed number of times </b></i> </font>.
<b>
### Example1: Looping through a list:
<b>======================================

In [827]:
people= ["teacher", "student", "doctor", "engineer"]
print("Output:")
for i in people:
    print(i)
#on every iteration i pick a value from the list of people.

Output:
teacher
student
doctor
engineer

### Example2: Looping through a String:
<b>==============================

In [828]:
name="Mohsin"
print("Output:")
for i in name:
    print(i)

Output:
M
o
h
s
i
n

### Example3: range() function:
<b>========================
    
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number. we can replace the starting, ending and increament values which are set by default.

In [829]:
print("Output:")
for num in range (6):
    print("Pakistan")

Output:
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan

### Example4: Nested for loop:
<b>==============================
    we can use another for in loop inside  a for loop for performing multiple iteration within an iteration. here is an example of nested for loop.

In [830]:
#printing triangle of astericks
print("Output:")
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print("\r")

Output:
*
* *
* * *
* * * *
* * * * *

## 5.2  While Loop: <a id="5.2"></a>
<b>=====================
    
Another name of this loop is conditional loop. This loop keep on iterating as long as <font color= "red"> <i><b> a certain condtion is true </b></i> </font>.

### Example5 : Condtional Loop:
<b>=================================

In [831]:
#video game goes on until you have life greater than 0 it works on while loop:
life=10
while(life>0):
    print(f"You have {life} lives remaining")
    life=life-1
else:
    print("Game over")

You have 10 lives remaining
You have 9 lives remaining
You have 8 lives remaining
You have 7 lives remaining
You have 6 lives remaining
You have 5 lives remaining
You have 4 lives remaining
You have 3 lives remaining
You have 2 lives remaining
You have 1 lives remaining
Game over

## 6  Function : <a id="6"></a>
<b>============
    
A function is defined as a block of code which only runs when we call it. We can pass data, known as parameters, into a function. A function can also return data as a result. In python we have two types of functions.
    
- <font color= "red"> <i><b>Built-in Functions: </b></i> </font>
- <font color= "red"> <i><b>User define Funcitons: </b></i> </font>
    
### Strength: 
<b>===========
    
- Increase the reusability of code.
- Gives modularity to our program.
- Our code becomes organized if we work in modules.
    
### Weakness:
<b>==============
    
- Call to a function and return statement takes couple of extra machine instructions which might increase the time complexity a littl bit
    
### Suitability:
<b>==============
- we use functions when we need to use same block of code at multiple places.
    
## 6.1  Built-in Functions : <a id="6.1"></a>
As the name suggest these are by defualt functions in the python we do not need to import them or manually write them program.
    
### Example1 : Built-in Functions (Numeric):
<b>============================================

In [832]:
number=10
print("Output:")
#bin() is a built in function returns the binary value of the number
print("bin(10)= ",bin(10))
#abs() is a built in function return absolute value of a number
print("abs(10)= ",abs(10))

Output:
bin(10)=  0b1010
abs(10)=  10

### Example2 : Built-in Functions (Objects):
<b>============================================

In [833]:
name= "Mohsin"
#type function tells the type of object
print("type(name)= ",type(name))
#len is a built in function returns the length of object
print("len(name)= ",len(name))

type(name)=  <class 'str'>
len(name)=  6

## 6.2  User-defined Functions : <a id="6.1"></a>
<b>These functions are defined by user and and later called at different places in the program. we can define following type of user-defined functions.    

- <font color= "red"> <i><b>Parametered Functions: </b></i> </font>
- <font color= "red"> <i><b>Non Parametered Functions: </b></i> </font>
- <font color= "red"> <i><b>Void Functions: </b></i> </font>
- <font color= "red"> <i><b>Value-returning Functions: </b></i> </font>

### Example3 : Parametered Functions
<b>=======================================
    
In these functions we pass some values which can be used in the the block of the function.

In [834]:
#defining a function which is taking a string a parameter
def print_string (string):
  print(string)

string= "Mohsin Nazakat"
#calling a function and passing it a parameter "Mohsin Nazakat"
print("Output:")
print_string(string)

Output:
Mohsin Nazakat

### Example4 : Non Parametered Functions
<b>===========================================
    
 In these functions we do not pass any argument or parameter.

In [835]:
#defining a function which is taking no parameter
def print_string ():
  print("Mohsin Nazakat")

#calling a function with no parameter/argument
print("Output:")
print_string()

Output:
Mohsin Nazakat

### Example5 : Void Function
<b>===========================
    
These functions do not retrun anything.

In [836]:
# A function retrun no value
def print_string ():
    for i in range(10):
        print(f"{i+1} Mohsin Nazakat")
print("Output:")
print_string()

Output:
1 Mohsin Nazakat
2 Mohsin Nazakat
3 Mohsin Nazakat
4 Mohsin Nazakat
5 Mohsin Nazakat
6 Mohsin Nazakat
7 Mohsin Nazakat
8 Mohsin Nazakat
9 Mohsin Nazakat
10 Mohsin Nazakat

### Example6 : Value-Returning Function
<b>===========================
    
These functions return some value.

In [837]:
#this function is returning some of 2 numbers
def add(a,b):
    return a+b
print("Output:")
print("Sum=",add(5,2))

Output:
Sum= 7

## 7  Lambda Function : <a id="7"></a>
<b>============================
    
These are the function that can be  <font color= "red"> <i><b> created at runtime </b></i> </font> using the construct called "lambda". It consist of expressions which is executed at the runtime. These functions do not have a name and return nothing. There are fews functions which takes lambda(annoymous) function as an arguement, Some of them are:
    
- <font color= "red"> <i><b> map() </b></i> </font>
- <font color= "red"> <i><b> filter() </b></i> </font>
- <font color= "red"> <i><b> reduce() </b></i> </font>
    
### Strength: 
<b>===========
    
- Lambad function enables us to pass function as an arguement.
- These functions enable us to bring abstraction to the block of code.

### Weakness:
<b>==============
    
- These functions just executes expressions and do not return anything.
    
### Suitability:
<b>==============
- When we need to pass function as an aurgument to some other function, we use lambda functions.
    
    
### Example1 : Defining Lambda Function:
<b>============================================

In [838]:
#defining a lambda function:
half_number= lambda num: num/2
print("Output:")
half_number(10)

Output:

5.0

### Example2 : Using lambda funtion for getting Multipliers:
<b>=============================================================

In [839]:
#fuction is multiplying argument with an unknown number
def multiplier(n):
  return lambda a : a * n

#here we set multiplier to 5 and now we have a lambda function which generates multiple of 5
my_multiplier = multiplier(5)
print("Output:")
for i in range (10):
    print(f"{5} * {i+1} = ",my_multiplier(i+1))

Output:
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

## 7.1  map () : <a id="7.1"></a>
<b>==============
    
Map() function is used with two arguments. Just like: <font color= "red"> <i><b> r = map(func, seq) </b></i> </font>. It applies the function func to all the elements of the sequence seq. After applying func on seq it generates and return an updated list.

- <font color= "red"> <i><b> func: </b></i> </font> it is function which is to be performed.
- <font color= "red"> <i><b> seq: </b></i> </font> This is the sequence on which the function is to be performed.
    
### Example3 : Multiplying list with a number n using map():
<b>===========================================================

In [840]:
my_list= [10,20,30,40,50]
updated_list= list(map(lambda num: num*2,my_list))
print("Output:")
print("Orignal_list=" , my_list)
print("Updated_list=" , updated_list)

Output:
Orignal_list= [10, 20, 30, 40, 50]
Updated_list= [20, 40, 60, 80, 100]

### Example4 : Concatinating a word using map():
<b>====================================================

In [841]:
my_list= ["Mohsin", "Ghulam Rasool", "Noman", "AbuBakar"]
updated_list= list(map(lambda strr: strr+" Student",my_list))
print("Output:")
print("Orignal_list=" , my_list)
print("Updated_list=" , updated_list)

Output:
Orignal_list= ['Mohsin', 'Ghulam Rasool', 'Noman', 'AbuBakar']
Updated_list= ['Mohsin Student', 'Ghulam Rasool Student', 'Noman Student', 'AbuBakar Student']

## 7.2 filter () : <a id="7.2"></a>
<b>==============
    
As the name suggest filter function helps us filtering elements from a list. it takes two arguements.
    
- <font color= "red"> <i><b> func: </b></i> </font> It is the condition on which the elements are filtered out.
- <font color= "red"> <i><b> seq: </b></i> </font> This is a given sequence.
    
### Example5 : Filtering odd numbers using filter():
<b>====================================================

In [842]:
my_list= [1,2,3,4,5,6,7,8,9,10]
odd_list= list(filter(lambda num: num%2 ,my_list))
print("Output:")
print("Orignal_list=" , my_list)
print("List of odd numbers=" , odd_list)

Output:
Orignal_list= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of odd numbers= [1, 3, 5, 7, 9]

### Example5 : Fitering marks less than 50:
<b>==================================================

In [843]:
my_list= [90,80,30,15,50,45,100,70,35]
updated_list= list(filter(lambda num: num<50 ,my_list))
print("Output:")
print("Orignal_list=" , my_list)
print("Updated_list=" , updated_list)

Output:
Orignal_list= [90, 80, 30, 15, 50, 45, 100, 70, 35]
Updated_list= [30, 15, 45, 35]

## 7.3 reduce () : <a id="7.3"></a>
<b>==============

The reduce() function in Python takes in a function and a list as an argument. The function is called with a lambda function and an iterable and a new reduced result is returned. This performs a<font color= "red"> <i><b> repetitive operation over the pairs of the iterable </b></i> </font> . The reduce() function belongs to the  functools module. It takes two arguements.
    
- <font color= "red"> <i><b> func: </b></i> </font> An interable function which is to be performed.
- <font color= "red"> <i><b> seq: </b></i> </font> This is a given sequence.
    
### Example6 : Finding sum of a series:
<b>========================================

In [844]:
from functools import reduce
#importing reduce function from the the funtools libarary
my_list= [90,80,30,15,50,45,100,70,35]
sum_series = reduce((lambda x, y: x + y), my_list)
print ("Sum of series= ", sum_series)

Sum of series=  515

### Example7 : Largest number in the series:
<b>============================================

In [845]:
import functools 
lis = [90,80,30,15,50,45,100,70,35]
  
# using reduce to compute maximum element from list 
print ("The maximum element of the list is : ",end="") 
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The maximum element of the list is : 100

## 8  File I/O : <a id="8"></a>
<b>=================

We usually take input from either:
    
- <font color= "red"> <i><b> Buffer/Keyboard: </b></i> </font>
- <font color= "red"> <i><b> File </b></i> </font>
    
### 8.1 From Buffer/ Keyboard: <a id="8.1"></a>
<b>==============================

we simple use input() function which stores a single line stored in buffer in the form of a string. By default it returns string but we can typecaste it in other datatype as well
    
### Example1 : Taking Input using keyboard / buffer:
<b>=====================================================

In [846]:
name = input("Enter your name:")
print("Type: ",type(name))

Enter your name:Mohsin Nazakat
Type:  <class 'str'>

### Example2 : Taking integer input:
<b>===================================

In [847]:
#taking input and casting it to integer
num1= int (input("Enter first number "))
num2= int (input("Enter second number "))
result =num1+num2
print("Output:")
print(result)
print("type:",type(result))

Enter first number 10
Enter second number 20
Output:
30
type: <class 'int'>

### 8.2 From File: <a id="8.2"></a>
<b>==============
    
In python we can read/write a file in following modes:
    
- <font color= "red"> <i><b> r </b></i> </font> opens a file in read only mode.
- <font color= "red"> <i><b> r+ </b></i> </font> opens a file read and write mode.
- <font color= "red"> <i><b> w </b></i> </font> opens a file in write mode only.
- <font color= "red"> <i><b> a </b></i> </font> opens a file in append mode
- <font color= "red"> <i><b> a+ </b></i> </font> opens a file in append and read mode.
    
### Example3 : Reading input from file:
<b>=====================================

In [848]:
#createing a new file
f = open("mohsin.txt", "w")

#Inserting initial data in file
f = open("mohsin.txt", "r+")
f.write("Name: Mohsin Nazakat\nReg no: FA18-BCS-052")
f.close()

#opening file in r+ mode
my_file = open("mohsin.txt", "r+")
text=my_file.read()
#reading text  from the file
print("Reading data from file----")
print("Output:")
print(text)
#closing the file
my_file.close()

Reading data from file----
Output:
Name: Mohsin Nazakat
Reg no: FA18-BCS-052

### Example4 : Writing data to file:
<b>================================

In [849]:
#opening file in a+ mode
my_file = open("mohsin.txt", "a+")
text=my_file.write("\nDept: Computer Science ")
#closing the file
my_file.close()

my_file = open("mohsin.txt", "r+")
text=my_file.read()
#reading text  from the file
print("Reading data from file----")
print("Output:")
print(text)
#closing the file
my_file.close()

Reading data from file----
Output:
Name: Mohsin Nazakat
Reg no: FA18-BCS-052
Dept: Computer Science

### 8.3 Positioning : <a id="8.3"></a>
<b>===================
    
While reading or writing a file we deal with <font color= "red"> <i><b> File handle which is like a cursor </b></i> </font>. It defines from where the data has to be read or written in the file. We have following functions in python which deal with position of file handle:
    
- <font color= "red"> <i><b> tell() </b></i> </font>: tells the current position of file handle.
- <font color= "red"> <i><b> seek() </b></i> </font>: change the current position of file handle.
    
### Example5 : Checking Current Position:
<b>=========================================

In [850]:
my_file= open("mohsin.txt","r+")
data= my_file.read(10)
print(data)
#checking postion of file handle
position= my_file.tell()
print("Position: ",position)

Name: Mohs
Position:  10

### Example6 : Changing position of file handle:
<b>===============================================

In [851]:
#Now setting file handle to begining again
position= my_file.seek(0,0)
print(my_file.read(10))
my_file.close()

Name: Mohs

## 9  Introduction to Pandas : <a id="9"></a>
<b>==================================

In computer programming, <font color= "red"> <i><b>pandas is a software library written for the Python programming language for data manipulation and analysis </b></i> </font>. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license
    
    
### 9.1 History : <a id="9.1"></a>
<b>==============
    
In 2008, pandas development began at AQR Capital Management. By the end of 2009 it had been open sourced. Since 2015, pandas is a NumFOCUS sponsored project. 

### Timeline:
- <font color= "red"> <i><b> 2008</b></i> </font>: Development of pandas started
- <font color= "red"> <i><b> 2009 </b></i> </font>: pandas becomes open source
- <font color= "red"> <i><b>2012 </b></i> </font>: First edition of Python for Data Analysis is published
- <font color= "red"> <i><b> 2015 </b></i> </font>: pandas becomes a NumFOCUS sponsored project
- <font color= "red"> <i><b> 2018 </b></i> </font>: First in-person core developer sprint
    
### 9.2 Features : <a id="9.2"></a>
<b>==============
    
- A fast and efficient <font color= "red"> <i><b> DataFrame </b></i> </font> object for data manipulation with integrated indexing;

- Tools for <font color= "red"> <i><b>reading and writing data </b></i> </font> between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;

- Intelligent <font color= "red"> <i><b> data alignment </b></i> </font> and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;

- Flexible <font color= "red"> <i><b> data alignment </b></i> </font> and pivoting of data sets;

- Intelligent <font color= "red"> <i><b> label-based slicing, fancy indexing </b></i> </font>, and subsetting of large data sets;

- Columns can be inserted and deleted from data structures for <font color= "red"> <i><b> size mutability </b></i> </font> ;

- Aggregating or transforming data with a powerful <font color= "red"> <i><b> group by </b></i> </font>  engine allowing split-apply-combine operations on data sets;

- High performance <font color= "red"> <i><b>  merging and joining </b></i> </font> of data sets;

- <font color= "red"> <i><b>  Hierarchical axis indexing </b></i> </font> provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;

- <font color= "red"> <i><b> Time series</b></i> </font>-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;

-  <font color= "red"> <i><b> Highly optimized for performance </b></i> </font>, with critical code paths written in Cython or C.

- Python with pandas is in use in a wide variety of <font color= "red"> <i><b> academic and commercial </b></i> </font> domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.
    
### 9.3 Purpose : <a id="9.3"></a>
<b>==============
    
The purpose of Pandas is make data analytics and manipulation:

- Accessible to everyone
- Free for users to use and modify
- Flexible
- Powerful
- Easy to use
- Fast
    
    
## 10  Series in Pandas : <a id="10"></a>
<b>===============================
    
In python Series is a one-dimensional labeled array which can hold data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.
    
### 10.1  Defination:
<b>==================
 
 <font color= "red" size="5px"> <i><b> class pandas.Series</b></i> </font>(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False) wheares,
    
  <br>  
    
- <font color= "red"> <i><b> data</b></i> </font>: Contains data stored in Series. If data is a dict, argument order is maintained.
- <font color= "red"> <i><b> index</b></i> </font>: Values must be hashable and have the same length as data. Non-unique index values are allowed. Will default to RangeIndex (0, 1, 2, , n) if not provided
- <font color= "red"> <i><b> dtype</b></i> </font>: Data type for the output Series. If not specified, this will be inferred from data. 

- <font color= "red"> <i><b> name</b></i> </font>: The name to give to the Series.

- <font color= "red"> <i><b> copy</b></i> </font>: Copy input data.
    
We can create series from 
    
- <font color= "red"> <i><b> Array</b></i> </font>
- <font color= "red"> <i><b> dict</b></i> </font>
- <font color= "red"> <i><b> Scaler Value </b></i> </font>



### 10.2  Creating series from dict: <a id="10.2"></a>
<b>==================================

In [852]:
import pandas as pd
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_series = pd.Series(data=my_dict, index=['a', 'b', 'c'])
print(my_series)

a    1
b    2
c    3
dtype: int64

### 10.3  Creating series from ndarray: <a id="10.3"></a>
<b>====================================
    
- In case of <font color= "red"> <i><b> ndaray </b></i> </font> index must be the same length as data.
- if <font color= "red"> <i><b> no index </b></i> </font> is passed by default it will be  set from [0,1....size -1]
    
    
#### When index is specified:
<b>=====================

In [853]:
import numpy as np
#creating series with indexes.
my_series = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print (my_series)

a    0.852657
b   -0.445937
c   -1.992237
d   -1.883840
e   -0.317084
dtype: float64

In [854]:
#here are the index we assigned to series
my_series.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

#### When index is not specified:
<b>========================

In [855]:
pd.Series(np.random.randn(5))
#here you can see that, the index is starting from 0,1... size-1

0    0.316303
1   -0.222402
2    0.407182
3   -1.304081
4    0.396569
dtype: float64

### 10.4  Creating series from scaler values: <a id="10.4"></a>
<b>==========================================

In [856]:
pd.Series(1,  index=['a','b','c','d','e'])

a    1
b    1
c    1
d    1
e    1
dtype: int64

### 10.5  Accessing Series : <a id="10.5"></a>
<b>==========================================
    
#### By Index : 
<b>==========

In [857]:
print("Output:")
print("Values in series:")
for i in my_series:
    print(i)
#or we can print it index-by-index
print("\nIndex-by-Index Values")
for i in range (my_series.size):
    print(f"index[{i}]", my_series[i])

Output:
Values in series:
0.8526565292218028
-0.4459370591736289
-1.992237280562101
-1.883839682458662
-0.31708353340386874

Index-by-Index Values
index[0] 0.8526565292218028
index[1] -0.4459370591736289
index[2] -1.992237280562101
index[3] -1.883839682458662
index[4] -0.31708353340386874

#### By Multiple Index : 
<b>===============

In [858]:
#we can print selected indexes as well
print(my_series[[1,4,0]])

b   -0.445937
e   -0.317084
a    0.852657
dtype: float64

#### By Labeled Index : 
<b>================

In [859]:
print(my_series['a'])
print(my_series['b'])
print(my_series['c'])
print(my_series['d'])
print(my_series['e'])

print(my_series[['a','b','c']])

0.8526565292218028
-0.4459370591736289
-1.992237280562101
-1.883839682458662
-0.31708353340386874
a    0.852657
b   -0.445937
c   -1.992237
dtype: float64

#### By get method : 
<b>================

In [860]:
print(my_series.get('a'))
print(my_series.get('b'))
print(my_series.get('c'))
print(my_series.get('d'))
print(my_series.get('e'))

0.8526565292218028
-0.4459370591736289
-1.992237280562101
-1.883839682458662
-0.31708353340386874

### 10.6  Performing operations on series : <a id="10.6"></a>
<b>==========================================
    
#### Finding Median : 
<b>================

In [861]:
print(my_series.median)

<bound method Series.median of a    0.852657
b   -0.445937
c   -1.992237
d   -1.883840
e   -0.317084
dtype: float64>

#### Finding exponent : 
<b>================

In [862]:
np.exp(my_series)

a    2.345870
b    0.640224
c    0.136390
d    0.152005
e    0.728270
dtype: float64

#### Poping elements from series : 
<b>=========================

In [863]:
my_series1 =pd.Series(1,  index=['a','b','c','d','e'])
print("Output:")
print("series before poping")
print(my_series1)
poped_value= my_series1.pop("b")

print("series after poping")
print(my_series1)
print("poped_value=", poped_value)

Output:
series before poping
a    1
b    1
c    1
d    1
e    1
dtype: int64
series after poping
a    1
c    1
d    1
e    1
dtype: int64
poped_value= 1

#### Shape and size of series series : 
<b>===========================

In [864]:
print("Shape of series: ",my_series.shape)
print("Size of series: ", my_series.size)

Shape of series:  (5,)
Size of series:  5

### 10.7  Vectorized operations on series : <a id="10.7"></a>
<b>========================================
    
#### Addition of series: 
<b>================

In [865]:
my_series3 =pd.Series(1,  index=['a','b','c','d','e'])
my_series4 =pd.Series(1,  index=['a','b','c','d','e'])
print("series3\n",my_series3)
print("series4\n",my_series4)

print("sum of series \n",my_series3+my_series4)

# following will add the data of respective values of indexes. For example, in given output, it is calculate
# d as:
# a = s['a'] + s['a']
# b = s['b'] + s['b']
# c = s['c'] + s['c']
# d = s['d'] + s['d']
# e = s['e'] + s['e']

series3
 a    1
b    1
c    1
d    1
e    1
dtype: int64
series4
 a    1
b    1
c    1
d    1
e    1
dtype: int64
sum of series
 a    2
b    2
c    2
d    2
e    2
dtype: int64

#### Scaler multiplication of series: 
<b>=========================

In [866]:
print ("Output:")
print (my_series3*2)
#following will multiply the data of each values of indexes, with 2. For example, in given output, it is ca
#lculated as:
#a = s['a'] *2
#b = s['b'] *2
#c = s['c'] *2
#d = s['d'] *2
#e = s['e'] *2

Output:
a    2
b    2
c    2
d    2
e    2
dtype: int64

### 10.8  Naming of series : <a id="10.8"></a>
<b>==========================

In [867]:
my_series3 =pd.Series(1,  index=['a','b','c','d','e'], name="random array")
print("Output:")
print("Name of series: ", my_series3.name)

Output:
Name of series:  random array

#### Renaming series: 
<b>===================

In [868]:
my_series4 =my_series3.rename("super random array")
print("Output:")
print("Name of series:", my_series4.name)

Output:
Name of series: super random array

## 11  DataFrame in Pandas : <a id="11"></a>
<b>===============================
    
In Pandas DataFrame is In case of <font color= "red"> <i><b> two-dimensional size-mutable, potentially heterogeneous tabular data structure </b></i> </font> with labeled axes (rows and columns).Three major components of DataFrames are:
    
- <font color= "red"> <i><b> Rows </b></i> </font>
- <font color= "red"> <i><b> Columns </b></i> </font>
- <font color= "red"> <i><b> Data </b></i> </font>
    
    
### 11.1  Defination: <a id="11"></a>
<b>==================
 
 <font color= "red" size="5px"> <i><b> class pandas.DataFrame</b></i> </font>(data=None, index=None, columns=None, dtype=None, copy=False) wheares,
    
  <br>  
    
- <font color= "red" > <i><b> data</b></i> </font>: Dict can contain Series, arrays, constants, dataclass or list-like objects. If data is a dict, column order follows insertion-order. <font color= "red"> <i><b> Changed in version 0.25.0:  </b></i> </font> If data is a list of dicts, column order follows insertion-order
    
    
- <font color= "red"> <i><b> index</b></i> </font>: Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided.
- <font color= "red"> <i><b> column </b></i> </font>: Column labels to use for resulting frame. Will default to RangeIndex (0, 1, 2, , n) if no column labels are provided.

- <font color= "red"> <i><b> dtype </b></i> </font>: Data type to force. Only a single dtype is allowed. If None, infer.

- <font color= "red"> <i><b> copy</b></i> </font>: Copy data from inputs. Only affects DataFrame / 2d ndarray input.
    
DataFrame accepts following kinds of inputs:
- <font color= "red"> <i><b> Dict of 1D ndarrys,lists,dicts or Series </b></i> </font>
- <font color= "red"> <i><b> 2D numpy.ndarray </b></i> </font>
- <font color= "red"> <i><b> Structured or record ndarray </b></i> </font>
- <font color= "red"> <i><b> A series </b></i> </font>
- <font color= "red"> <i><b> Another DataFrame </b></i> </font>




### 10.2  Creating DataFrame from List: <a id="10.2"></a>
<b>======================================

#### With no index and columns: 
<b>===============================

In [869]:
my_list=['biryani', 'pulao', 'karahi','saji']
my_dataframe= pd.DataFrame(my_list)
print("Output:")
my_dataframe
#default  index and column are set

Output:

         0
0  biryani
1    pulao
2   karahi
3     saji

#### With provided index and columns: 
<b>===============================

In [870]:
my_list=['biryani', 'pulao', 'karahi','saji']
my_dataframe= pd.DataFrame(my_list, index=['a','b','c','d'], columns=['Dish'])
print("Output:")
my_dataframe
#Given index and column are set

Output:

      Dish
a  biryani
b    pulao
c   karahi
d     saji

### 11.3  From dict of series: <a id="11.3"></a>
<b>============================
- The result index will be the union of the indexes of the various Series.
- If there are any nested dicts, these will be first converted to Series.
- If no columns are passed, the columns will be the sorted list of dict keys.
<br>


#### Index given Column not given: 
<b>==========================

In [871]:
my_dict = {
 'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
 }

my_dataFrame = pd.DataFrame(my_dict)
my_dataFrame

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [872]:
pd.DataFrame(my_dict, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

#### Index and Column Both given: 
<b>==========================

In [873]:
pd.DataFrame(my_dict, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

#### Information about columns: 
<b>==========================

In [874]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### 11.4  From dict of ndarrays / lists : <a id="11.4"></a>

- The ndarrays must all be the same length.
- If an index is passed, it must clearly also be the same length as the arrays.
- If no index is passed, the result will be range(n), where n is the array length.

#### Column and Index not given: 
<b>==========================

In [875]:
my_dict = {
 'one' : [1., 2., 3., 4.],
 'two' : [4., 3., 2., 1.]
 }
pd.DataFrame(my_dict)
#As column is not given, so the key in sorted form will be used as column
#As index is not given so it'll range from 0 to size-1

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

#### Applying indexes: 
<b>===============

In [876]:
pd.DataFrame(my_dict, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

#### Applying Column Lables: 
<b>=====================

In [877]:
pd.DataFrame(my_dict, index=['a', 'b', 'c', 'd'], columns=['two', 'three'])
#as there is no recrod agains there it's giving NaN

   two three
a  4.0   NaN
b  3.0   NaN
c  2.0   NaN
d  1.0   NaN

### 11.5  From a list of dicts  : <a id="11.5"></a>

In [878]:
my_list = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(my_list)

   a   b     c
0  1   2   NaN
1  5  10  20.0

#### Adding Indexes: 
<b>===============

In [879]:
pd.DataFrame(my_list, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

#### Passing Column Labels: 
<b>======================

In [880]:
pd.DataFrame(my_list, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

### 11.6  From a dict of tuples  : <a id="11.6"></a> 
<b>===========================
    
    
You can automatically create a multi-indexed frame by passing a tuples dictionary

In [881]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
 ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
 ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
 ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
 ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

### 11.7   Column selection, addition, deletion  : <a id="11.7"></a> 
<b>============================================
    
    
-  <b> DataFrame can be treated semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations

In [882]:
my_dict = {
 'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
 }

_dataFrame = pd.DataFrame(my_dict)
_dataFrame['one'] #it will display data of colum1

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

#### Assigning values to new columns: 
<b>==============================

In [883]:
_dataFrame['three'] = _dataFrame['one'] * _dataFrame['two'] # assigning values to a colomn named 'three' after calculation

In [884]:
my_dataFrame['flag'] = my_dataFrame['one'] > 2 #check if value at column 'one' is > 2 then assign True otherwise false

In [885]:
my_dataFrame #print a complete data frame

   one  two   flag
a  1.0  1.0  False
b  2.0  2.0  False
c  3.0  3.0   True
d  NaN  4.0  False

#### Deleting a Column: 
<b>=================

In [886]:
del _dataFrame['two'] #delete a coloumn 'two' from data frame

#### Poping a column: 
<b>==================

In [887]:
three = _dataFrame.pop('three') #pop a complete coloumn 'three' from dataframe

In [888]:
_dataFrame

   one
a  1.0
b  2.0
c  3.0
d  NaN

#### Inserting a scaler value: 
<b>=======================

In [889]:
_dataFrame['yes'] = 'no' #new coloum yes will be progate wit no
_dataFrame

   one yes
a  1.0  no
b  2.0  no
c  3.0  no
d  NaN  no

#### Taking value from a colum and placing in other: 
<b>=========================================

In [890]:
_dataFrame['super'] = _dataFrame['yes'][:2]
_dataFrame
#taking first 2 values from column yes and placing in super column

   one yes super
a  1.0  no    no
b  2.0  no    no
c  3.0  no   NaN
d  NaN  no   NaN

#### Inserting new column using Insert Function: 
<b>=====================================

In [891]:
_dataFrame.insert(1, 'hello', _dataFrame['one'])
# it will add a new column of name hello and copy data of column two in it
_dataFrame

   one  hello yes super
a  1.0    1.0  no    no
b  2.0    2.0  no    no
c  3.0    3.0  no   NaN
d  NaN    NaN  no   NaN

 ### 11.8  Indexing / Selection : <a id="11.8"></a> 
<b>===========================

In [892]:
_dataFrame.loc['b'] #it will return the coloumn labels and values on row label 'b'

one       2
hello     2
yes      no
super    no
Name: b, dtype: object

In [893]:
_dataFrame.iloc[1] #it will return the values of those coloumns that is > than 1

one       2
hello     2
yes      no
super    no
Name: b, dtype: object

 ### 11.9  Data Alignment and Arithmatic : <a id="11.9"></a> 
<b>======================================

In [894]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])

In [895]:
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])

#### Adding Columns: 
<b>==============

In [896]:
df + df2 # add values of respective coloumn labels

          A         B         C   D
0  0.283595  2.226606  1.391316 NaN
1  0.112694  0.104858 -1.277370 NaN
2 -0.783682  2.582103  1.206031 NaN
3  0.325303  0.375857 -0.090326 NaN
4 -0.423401  0.185416 -3.458636 NaN
5 -1.794479 -1.094916  0.054954 NaN
6 -0.850132 -0.816028  0.616447 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

#### Adding Rows: 
<b>============

In [897]:
df - df.iloc[1] #subtracting row1 from row1

          A         B         C         D
0 -0.654590  0.575833  1.391633  0.021457
1  0.000000  0.000000  0.000000  0.000000
2 -2.287363  0.728117  0.252340  0.802026
3 -0.408458  0.301037 -1.305214  0.886670
4 -1.266988 -0.664269 -1.791235 -0.631614
5 -1.150768 -0.976810  1.723837  0.218067
6 -1.377096 -2.462728  1.135104  0.297381
7 -0.776911 -2.287547 -1.186023 -0.053070
8 -1.218475  0.724567  0.841433 -1.045827
9 -0.035182 -0.551914  0.601677 -0.663364

#### Multiplication and Addition: 
<b>=======================

In [898]:
df * 5 + 2

          A         B         C         D
0  2.696125  7.081752  7.326084  2.406929
1  5.969076  4.202586  0.367918  2.299644
2 -5.467737  7.843174  1.629619  6.309774
3  3.926785  5.707772 -6.158154  6.732995
4 -0.365861  0.881240 -8.588254 -0.858426
5  0.215237 -0.681463  8.987101  3.389978
6 -0.916404 -8.111053  6.043436  3.786550
7  2.084522 -7.235151 -5.562198  2.034294
8 -0.123298  7.825421  4.575081 -2.929491
9  5.793167  1.443016  3.376304 -1.017175

#### Division: 
<b>=======

In [899]:
1 / df

           A         B          C           D
0   7.182622  0.983913   0.938776   12.287169
1   1.259739  2.270058  -3.063572   16.686476
2  -0.669547  0.855699 -13.499601    1.160154
3   2.594997  1.348519  -0.612884    1.056413
4  -2.113395 -4.469234  -0.472221   -1.749214
5  -2.801493 -1.864654   0.715604    3.597178
6  -1.714440 -0.494508   1.236572    2.798691
7  59.155922 -0.541410  -0.661183  145.798516
8  -2.354827  0.858307   1.941686   -1.014304
9   1.318160 -8.976922   3.632919   -1.657179

#### Exponential: 
<b>=======

In [900]:
df ** 4

              A          B          C             D
0  3.757231e-04   1.067023   1.287514  4.387253e-05
1  3.970797e-01   0.037658   0.011352  1.289857e-05
2  4.975950e+00   1.865156   0.000030  5.519988e-01
3  2.205224e-02   0.302393   7.087410  8.029052e-01
4  5.012763e-02   0.002506  20.110249  1.068140e-01
5  1.623461e-02   0.082719   3.813363  5.972447e-03
6  1.157473e-01  16.722666   0.427683  1.629972e-02
7  8.165957e-08  11.638471   5.232536  2.213031e-09
8  3.252101e-02   1.842593   0.070353  9.447745e-01
9  3.312284e-01   0.000154   0.005741  1.325934e-01

 ### 11.10  Boolean Operators : <a id="11.10"></a> 
<b>==========================

In [901]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)

In [902]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)

In [903]:
pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)

       a      b
0  False   True
1   True   True
2   True  False

#### And Operator: 
<b>============

In [904]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

#### OR Operator: 
<b>============

In [905]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

#### NOT Operator: 
<b>============

In [906]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

In [907]:
-df2

       a      b
0   True  False
1  False  False
2  False   True

 ### 11.11  Transpose : <a id="11.11"></a> 
<b>===================

In [908]:
# we use T attribute for trnaspose

#### Transpose of Whole Table: 
<b>=====================

In [909]:
df.T

,0,1,2,3,4,5,6,7,8,9
A,0.139225,0.793815,-1.493547,0.385357,-0.473172,-0.356953,-0.583281,0.016904,-0.424660,0.758633
B,1.016350,0.440517,1.168635,0.741554,-0.223752,-0.536293,-2.022211,-1.847030,1.165084,-0.111397
C,1.065217,-0.326416,-0.074076,-1.631631,-2.117651,1.397420,0.808687,-1.512440,0.515016,0.275261
D,0.081386,0.059929,0.861955,0.946599,-0.571685,0.277996,0.357310,0.006859,-0.985898,-0.603435

#### Transpose of Selected rows: 
<b>========================

In [910]:
df[:4].T

          0         1         2         3
A  0.139225  0.793815 -1.493547  0.385357
B  1.016350  0.440517  1.168635  0.741554
C  1.065217 -0.326416 -0.074076 -1.631631
D  0.081386  0.059929  0.861955  0.946599

## 12. Viewing Data in Pandas : <a id="12"></a> 
<b>=====================================

<b>
<font color= "red" > <i><b> We can view data / display data in different ways:</b></i> </font>

- See the top & bottom rows of the frame
- Selecting a single column
- Selecting via [], which slices the rows
- For getting a cross section using a label
- Selecting on a multi-axis by labe
- Showing label slicing, both endpoints are included
- Reduction in the dimensions of the returned object
- For getting a scalar value
- For getting fast access to a scalar
- Select via the position of the passed integers
- By integer slices, acting similar to numpy/python
- By lists of integer position locations, similar to the numpy/python style
- For slicing rows explicitly
- For slicing columns explicitly
- For getting a value explicitly
- For getting fast access to a scalar
- Using a single columns values to select data.
- Selecting values from a DataFrame where a boolean condition is met.
- Using the isin() method for filtering 

### 12.1 Head of Data: <a id="12.1"></a> 
<b>=======================

In [911]:
df.head(2)
#first 2 records

          A         B         C         D
0  0.139225  1.016350  1.065217  0.081386
1  0.793815  0.440517 -0.326416  0.059929

### 12.2 tail of Data: <a id="12.2"></a> 
<b>=====================

In [912]:
df.tail(2)
#last 2 records

          A         B         C         D
8 -0.424660  1.165084  0.515016 -0.985898
9  0.758633 -0.111397  0.275261 -0.603435

### 12.3 Display Index: <a id="12.3"></a> 
<b>=====================

In [913]:
df.index

RangeIndex(start=0, stop=10, step=1)

### 12.4 Display Column: <a id="12.4"></a> 
<b>========================

In [914]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### 12.5 Printing Values:  <a id="12.5"></a> 
<b>======================

In [915]:
df.values

array([[ 0.13922492,  1.01635035,  1.06521678,  0.08138571],
       [ 0.79381523,  0.44051729, -0.32641631,  0.05992877],
       [-1.4935474 ,  1.16863478, -0.07407627,  0.86195486],
       [ 0.38535694,  0.74155448, -1.6316308 ,  0.94659907],
       [-0.47317228, -0.22375199, -2.11765087, -0.57168526],
       [-0.35695255, -0.53629255,  1.39742028,  0.2779957 ],
       [-0.58328082, -2.02221058,  0.80868723,  0.35730991],
       [ 0.01690448, -1.84703012, -1.51243965,  0.00685878],
       [-0.42465964,  1.16508429,  0.51501622, -0.98589813],
       [ 0.75863331, -0.11139676,  0.27526077, -0.60343494]])

### 12.6 Sorting by axis:  <a id="12.6"></a> 
<b>======================

In [916]:
df.sort_index(axis=0, ascending=False)

          A         B         C         D
9  0.758633 -0.111397  0.275261 -0.603435
8 -0.424660  1.165084  0.515016 -0.985898
7  0.016904 -1.847030 -1.512440  0.006859
6 -0.583281 -2.022211  0.808687  0.357310
5 -0.356953 -0.536293  1.397420  0.277996
4 -0.473172 -0.223752 -2.117651 -0.571685
3  0.385357  0.741554 -1.631631  0.946599
2 -1.493547  1.168635 -0.074076  0.861955
1  0.793815  0.440517 -0.326416  0.059929
0  0.139225  1.016350  1.065217  0.081386

### 12.7 Sorting by values: <a id="12.7"></a> 
<b>=========================

In [917]:
df.sort_values(by='B')

          A         B         C         D
6 -0.583281 -2.022211  0.808687  0.357310
7  0.016904 -1.847030 -1.512440  0.006859
5 -0.356953 -0.536293  1.397420  0.277996
4 -0.473172 -0.223752 -2.117651 -0.571685
9  0.758633 -0.111397  0.275261 -0.603435
1  0.793815  0.440517 -0.326416  0.059929
3  0.385357  0.741554 -1.631631  0.946599
0  0.139225  1.016350  1.065217  0.081386
8 -0.424660  1.165084  0.515016 -0.985898
2 -1.493547  1.168635 -0.074076  0.861955

### 12.8 Describing DataFrame: <a id="12.8"></a> 
<b>============================

In [918]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.123768  -0.020854  -0.160061   0.043101
std     0.693076   1.171260   1.218945   0.623485
min    -1.493547  -2.022211  -2.117651  -0.985898
25%    -0.461044  -0.458157  -1.215934  -0.427049
50%    -0.170024   0.164560   0.100592   0.070657
75%     0.323824   0.947651   0.735269   0.337481
max     0.793815   1.168635   1.397420   0.946599

### 12.9 Selecting a Column: <a id="12.9"></a> 
<b>============================

In [919]:
df['C']
#here's the data of column C

0    1.065217
1   -0.326416
2   -0.074076
3   -1.631631
4   -2.117651
5    1.397420
6    0.808687
7   -1.512440
8    0.515016
9    0.275261
Name: C, dtype: float64

### 12.10 Slicing: <a id="12.10"></a> 
<b>==================

In [920]:
df[0:7]

          A         B         C         D
0  0.139225  1.016350  1.065217  0.081386
1  0.793815  0.440517 -0.326416  0.059929
2 -1.493547  1.168635 -0.074076  0.861955
3  0.385357  0.741554 -1.631631  0.946599
4 -0.473172 -0.223752 -2.117651 -0.571685
5 -0.356953 -0.536293  1.397420  0.277996
6 -0.583281 -2.022211  0.808687  0.357310

In [921]:
# By lists of integer position locations, similar to the numpy/python style
df.iloc[[1,2,4],[0,2]]

          A         C
1  0.793815 -0.326416
2 -1.493547 -0.074076
4 -0.473172 -2.117651

In [922]:
# For slicing rows explicitly
df.iloc[:,1:2]

          B
0  1.016350
1  0.440517
2  1.168635
3  0.741554
4 -0.223752
5 -0.536293
6 -2.022211
7 -1.847030
8  1.165084
9 -0.111397

In [923]:
# For getting a value explicitly
df.iloc[1,2]

-0.3264163089545882

In [924]:
# Using a single columns values to select data.
df[df.A > 0]

          A         B         C         D
0  0.139225  1.016350  1.065217  0.081386
1  0.793815  0.440517 -0.326416  0.059929
3  0.385357  0.741554 -1.631631  0.946599
7  0.016904 -1.847030 -1.512440  0.006859
9  0.758633 -0.111397  0.275261 -0.603435

In [925]:
# Selecting values from a DataFrame where a boolean condition is met.
df[df > 0]

          A         B         C         D
0  0.139225  1.016350  1.065217  0.081386
1  0.793815  0.440517       NaN  0.059929
2       NaN  1.168635       NaN  0.861955
3  0.385357  0.741554       NaN  0.946599
4       NaN       NaN       NaN       NaN
5       NaN       NaN  1.397420  0.277996
6       NaN       NaN  0.808687  0.357310
7  0.016904       NaN       NaN  0.006859
8       NaN  1.165084  0.515016       NaN
9  0.758633       NaN  0.275261       NaN

In [926]:
# Using the isin() method for filtering:
df2 = df.copy()
df2

          A         B         C         D
0  0.139225  1.016350  1.065217  0.081386
1  0.793815  0.440517 -0.326416  0.059929
2 -1.493547  1.168635 -0.074076  0.861955
3  0.385357  0.741554 -1.631631  0.946599
4 -0.473172 -0.223752 -2.117651 -0.571685
5 -0.356953 -0.536293  1.397420  0.277996
6 -0.583281 -2.022211  0.808687  0.357310
7  0.016904 -1.847030 -1.512440  0.006859
8 -0.424660  1.165084  0.515016 -0.985898
9  0.758633 -0.111397  0.275261 -0.603435